body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1{
  color: rgb(214, 61, 22);
  font-weight: normal;
  border-bottom: 2px solid rgb(207, 12, 175);
  padding-bottom: 5px;
  text-transform: capitalize;
 
}

input{
  line-height: 30px;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
  border: 2px solid rgb(141, 141, 141);
}